* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .container .contentHH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 100px;
  position: relative;
}
header .container .contentHH::before {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: var(--opacity, auto) !important;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(222, 144, 0);
  bottom: -1px;
}
header .container .imagesHead {
  height: 100%;
  width: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container .imagesHead img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
header .container .imagesHead:hover .logo-white {
  opacity: 0;
}
header .container .imagesHead:hover .clickOnOrangeLogo {
  opacity: 1;
  cursor: pointer;
}
header .container .imagesHead .clickOnOrangeLogo {
  opacity: 0;
  position: relative;
  left: -106px;
  top: 1px;
}
@media (max-width: 992px) {
  header .container .imagesHead .clickOnOrangeLogo {
    left: -105px;
  }
}
@media (max-width: 767px) {
  header .container .imagesHead .clickOnOrangeLogo {
    display: none;
  }
}
header .container .imagesHead .logo-white {
  opacity: 1;
}
@media (max-width: 767px) {
  header .container .imagesHead:hover .logo-white {
    opacity: 1;
    cursor: pointer;
  }
}
header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
header .container ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-family: "Cairo", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
header .container ul li a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(222, 144, 0);
  bottom: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container ul li a:hover {
  color: rgb(222, 144, 0);
}
header .container ul li a:hover:before {
  width: 100%;
}
header .container ul li a.active {
  color: rgb(222, 144, 0);
}
header .container ul li a.active:before {
  width: 100%;
}
@media (max-width: 767px) {
  header .container .navforDesk {
    display: none;
  }
}
header .burgericon {
  display: none;
  color: white;
  width: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .burgericon .burger-icon-to-x {
  width: 30px;
  height: 17px;
  cursor: pointer;
  position: relative;
}
header .burgericon .burger-icon-to-x span {
  background-color: white;
  height: 2.5px;
  position: absolute;
  width: 100%;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .burgericon .burger-icon-to-x .num1 {
  top: 0;
}
header .burgericon .burger-icon-to-x .num2 {
  top: 7px;
}
header .burgericon .burger-icon-to-x .num3 {
  top: 14px;
}
header .burgericon .x-icon-to-burger {
  display: none;
  width: 30px;
  height: 17px;
  cursor: pointer;
  position: relative;
}
header .burgericon .x-icon-to-burger span {
  height: 2.5px;
  position: absolute;
  width: 100%;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .burgericon .x-icon-to-burger .num2 {
  opacity: 0;
}
header .burgericon .x-icon-to-burger .num1,
header .burgericon .x-icon-to-burger .num3 {
  top: 6px;
  background-color: red;
}
header .burgericon .x-icon-to-burger .num1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .burgericon .x-icon-to-burger .num3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 767px) {
  header .burgericon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.imagesLanding {
  overflow: hidden;
  max-height: 100vh;
}

.landing {
  width: 100%;
  height: 100%;
  position: relative;
}
.landing .rightandleft {
  display: block;
}
@media (max-width: 767px) {
  .landing .rightandleft .rightandleft {
    display: none;
  }
}
.landing .rightandleft .right {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 35px;
  color: white;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.landing .rightandleft .right:after {
  content: "";
  background-color: rgba(228, 233, 233, 0.21);
  border-radius: 5px;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.landing .rightandleft .right:hover {
  color: rgb(222, 144, 0);
  cursor: pointer;
}
.landing .rightandleft .right:hover:after {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.landing .rightandleft .left {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 35px;
  color: white;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.landing .rightandleft .left:after {
  content: "";
  background-color: rgba(228, 233, 233, 0.21);
  border-radius: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.landing .rightandleft .left:hover {
  cursor: pointer;
  color: rgb(222, 144, 0);
}
.landing .rightandleft .left:hover:after {
  opacity: 1;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .landing .rightandleft {
    display: none;
  }
}
.landing .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.landing .images:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.landing .images img {
  width: 100%;
  height: 100%;
}
.landing .images .mainImage1,
.landing .images .mainImage2 {
  position: absolute;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
}
.landing .images .image1 {
  position: absolute;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
}
.landing .images .image2 {
  position: absolute;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 100%;
}
.landing .images .image3 {
  position: absolute;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 100%;
}
@media (max-width: 1700px) {
  .landing .images .mainImage1 {
    visibility: visible;
  }
  .landing .images .mainImage2 {
    display: none;
  }
}
@media (min-width: 1701px) {
  .landing .images .mainImage1 {
    display: none;
  }
  .landing .images .mainImage2 {
    visibility: visible;
  }
}
.landing .dots {
  height: 30px;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.landing .dots span {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(222, 144, 0, 0.621);
}
.landing .dots span:hover {
  cursor: pointer;
}
.landing .dots span:hover:before {
  content: "";
  width: 15px;
  position: absolute;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(222, 144, 0, 0.621);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
.landing .dots span.active {
  border: 1px solid rgb(222, 144, 0);
}
.landing .dots span.active:before {
  content: "";
  width: 15px;
  position: absolute;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(222, 144, 0);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
@media (max-width: 400px) {
  .landing .dots {
    bottom: 60px;
  }
  .landing .dots span {
    width: 15px;
    height: 15px;
  }
  .landing .dots span:hover:before {
    width: 10px;
    height: 10px;
  }
  .landing .dots span.active:before {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 399px) {
  .landing .dots {
    bottom: 60px;
  }
}

nav {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 #000 10px;
          box-shadow: 0 0 #000 10px;
  position: absolute;
  top: 101px;
  right: -100%;
  width: 50%;
  min-width: 235px;
  height: 100vh;
  z-index: -1;
}
nav .search,
nav .links {
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
}