* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --secondcolor: rgb(255, 165, 0);
  --secondcolor6: rgba(255, 165, 0, 0.65);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease 0s;
  .container {
    .contentHH {
      display: flex;
      justify-content: space-between;
      text-align: center;
      height: 100px;
      position: relative;
      &::before {
        content: "";
        transition: 0.3s;

        opacity: var(--opacity, auto) !important;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--secondcolor);
        bottom: -1px;
      }
    }
    .imagesHead {
      height: 100%;
      width: auto;
      transition: 0.3s;

      img {
        transition: 0.3s;
        height: 100%;
      }

      &:hover {
        .logo-white {
          opacity: 0;
        }

        .clickOnOrangeLogo {
          opacity: 1;
          cursor: pointer;
        }
      }

      .clickOnOrangeLogo {
        opacity: 0;
        position: relative;
        left: -106px;
        top: 1px;
      }

      @media (max-width: 992px) {
        .clickOnOrangeLogo {
          left: -105px;
        }
      }
      @media (max-width: 767px) {
        .clickOnOrangeLogo {
          display: none;
        }
      }
      .logo-white {
        opacity: 1;
      }
    }
    @media (max-width: 767px) {
      .imagesHead:hover {
        .logo-white {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    ul {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 25px;
      i {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 25px;
        color: white;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          color: var(--secondcolor);
        }
      }
      li {
        a {
          position: relative;
          text-decoration: none;
          color: white;
          font-family: "Cairo", sans-serif;

          letter-spacing: 1px;
          font-weight: 500;
          transition: 0.3s;
          overflow: hidden;

          &:before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: var(--secondcolor);
            bottom: -4px;
            transition: 0.3s;
          }

          &:hover {
            color: var(--secondcolor);
            transition: 0.3s;
            &:before {
              width: 100%;
            }
          }
          &.active {
            color: var(--secondcolor);
            transition: 0.3s;
            &:before {
              width: 100%;
            }
          }
        }
      }
    }
    .img2 {
      position: absolute;
      right: 0;
      top: 90px;
      width: 150px;
      right: -66vw;
      transition: 0.7s;
      .palette {
        z-index: 102;

        position: absolute;
        width: 100%;
        right: 0;
        border: 1px solid var(--secondcolor);

        background-color: #1e1e1e;
        border-radius: 25px;
      }
      span {
        z-index: 102;
      }
      .red {
        cursor: pointer;

        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #ff0000;
        top: 32px;
        position: absolute;
        right: 29px;
      }
      .orange {
        cursor: pointer;

        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #de9000;
        position: absolute;
        top: 15.1px;
        right: 49.2px;
      }
      .blue {
        cursor: pointer;

        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #0000ff;
        position: absolute;

        top: 16.8px;
        left: 47.2px;
      }
      .cyan {
        cursor: pointer;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #00aeff;
        position: absolute;
        top: 39.5px;
        left: 29.3px;
      }
      .green {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #008000;
        position: absolute;
        cursor: pointer;

        top: 65px;
        left: 29px;
      }
      .fuchsia {
        cursor: pointer;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #f506e5;
        position: absolute;
        top: 84.6px;
        left: 45px;
      }
    }

    @media (max-width: 767px) {
      .navforDesk {
        display: none;
      }
    }
  }
  .burgericon {
    display: none;
    color: white;
    width: 30px;
    transition: 0.3s;
    .burger-icon-to-x {
      width: 30px;
      height: 17px;
      cursor: pointer;
      position: relative;
      span {
        background-color: white;
        height: 2.5px;
        position: absolute;
        width: 100%;
        left: 0px;
        transition: all 0.3s ease;
      }
      .num1 {
        top: 0;
      }
      .num2 {
        top: 7px;
      }
      .num3 {
        top: 14px;
      }
    }
    .x-icon-to-burger {
      display: none;
      width: 30px;
      height: 17px;
      cursor: pointer;
      position: relative;
      span {
        height: 2.5px;
        position: absolute;
        width: 100%;
        left: 0px;
        transition: all 0.3s ease;
      }
      .num2 {
        opacity: 0;
      }
      .num1,
      .num3 {
        top: 6px;
        background-color: var(--secondcolor);
        transition: 0.3s;
      }
      .num1 {
        transform: rotate(45deg);
      }
      .num3 {
        transform: rotate(-45deg);
      }
    }
  }
  @media (max-width: 767px) {
    .burgericon {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.imagesLanding {
  overflow: hidden;
  max-height: 100vh;
  position: relative;
  transition: 0.4s;
}
.landing {
  width: 100%;
  height: 100%;
  position: relative;

  .rightandleft {
    @media (max-width: 767px) {
      .rightandleft {
        display: none;
      }
    }
    display: block;
    .right {
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 35px;
      color: white;
      transform: translatey(-50%);
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      &:after {
        content: "";
        background-color: rgba(228, 233, 233, 0.21);
        border-radius: 5px;
        width: 0;
        height: 0;
        opacity: 0;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: 0.5s;
      }
      &:hover {
        &:after {
          opacity: 1;
          width: 100%;
          height: 100%;
        }
        color: var(--secondcolor);
        transition: 0.3s;
        cursor: pointer;
      }
    }
    .left {
      position: absolute;
      left: 20px;
      top: 50%;
      font-size: 35px;
      color: white;
      transform: translatey(-50%);
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      &:after {
        content: "";
        background-color: rgba(228, 233, 233, 0.21);
        border-radius: 50%;
        width: 0;
        height: 0;
        opacity: 0;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: 0.5s;
      }
      &:hover {
        cursor: pointer;
        &:after {
          opacity: 1;
          width: 100%;
          height: 100%;
        }
        color: var(--secondcolor);
        transition: 0.3s;
      }
    }
  }
  @media (max-width: 767px) {
    .rightandleft {
      display: none;
    }
  }
  .images {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgb(0 0 0 / 30%);
    }
    img {
      width: 100%;
      height: 100%;
    }
    .mainImage1,
    .mainImage2 {
      position: absolute;
      transition: 1.1s ease-in-out;
      width: 100%;
      height: calc(100%);
      top: 0;
      left: 0%;
    }
    .image1 {
      position: absolute;
      transition: 1.1s ease-in-out;
      width: 100%;
      height: calc(100%);
      top: 0;
      left: 100%;
    }
    .image2 {
      position: absolute;
      transition: 1.1s ease-in-out;
      width: 100%;
      height: calc(100%);
      top: calc(0px);
      left: 100%;
    }
    .image3 {
      position: absolute;
      transition: 1.1s ease-in-out;
      width: 100%;
      height: calc(100%);
      top: calc(0px);
      left: 100%;
    }
    @media (max-width: 1700px) {
      .mainImage1 {
        visibility: visible;
      }
      .mainImage2 {
        display: none;
      }
    }
    @media (min-width: 1701px) {
      .mainImage1 {
        display: none;
      }
      .mainImage2 {
        visibility: visible;
      }
    }
  }
  .dots {
    height: 30px;
    position: relative;
    z-index: 3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    span {
      width: 22px;
      height: 22px;
      position: relative;
      border-radius: 50%;
      border: 1px solid var(--secondcolor6);
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        background-color: var(--secondcolor6);
        transition: 00.3s;
        &:before {
          color: rgba(0, 0, 0, 0.9);
        }
      }
      &.active {
        border: 1px solid var(--secondcolor);
        background-color: var(--secondcolor);
        transition: 0.3s;
        &:before {
          color: black;
          font-weight: 700;
        }
      }
    }
    .one {
      &::before {
        content: "1";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        color: white;
        font-weight: 500;
        font-size: 15px;
      }
    }
    .four {
      &::before {
        content: "4";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        color: white;
        font-weight: 500;
        font-size: 15px;
      }
    }
    .two {
      &::before {
        content: "2";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        color: white;
        font-weight: 500;
        font-size: 15px;
      }
    }
    .three {
      &::before {
        content: "3";
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 500;
        font-size: 15px;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        color: white;
      }
    }
  }

  @media (max-width: 400px) {
    .dots {
      bottom: 60px;
      span {
        width: 15px;
        height: 15px;
        &::before {
          font-size: 11px !important;
          font-weight: 400 !important;
        }

        &.active {
          &::before {
            font-weight: 600 !important;
          }
        }
      }
    }
  }
  @media (max-width: 300px) {
    .dots {
      bottom: 40px;
    }
  }
  @media (min-width: 399px) {
    .dots {
      bottom: 60px;
    }
  }
}

nav {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 #000 10px;
  position: absolute;
  top: 101px;
  right: -100%;
  width: 50%;
  min-width: 235px;
  height: 100vh;
  z-index: 6;

  .links {
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
    li {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      position: relative;
      &::before {
        content: "";
        width: 0%;
        height: 2px;
        background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 1) 0%,
          var(--secondcolor) 100%
        );

        position: absolute;
        bottom: -2px;
        transition: 0.4s;
      }
      a {
        color: white;
        margin-left: 3px;
        transition: 0.4s;
        font-weight: 400;
      }
      &.active {
        a {
          color: var(--secondcolor);
          transition: 0.3s;
          font-weight: 800;
        }
        &::before {
          width: 100%;
        }
      }
      &:hover {
        a {
          color: var(--secondcolor);
          transition: 0.3s;
          font-weight: 700;
        }
        &::before {
          width: 100%;
        }
      }
    }
  }

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 12px;
    z-index: 6;
    top: calc(50% - 101px);
    transform: translatey(-50%);
    background-color: #c0c0c0;
    transition: 0.3s;
    border-radius: 50%;
  }
  .colors {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    span {
      width: 75px;
      height: 75px;
      border-radius: 5px;
      cursor: pointer;
    }
    .orange {
      background-color: #de9000;
    }
    .red {
      background-color: #ff0000;
    }
    .fuchsia {
      background-color: #f506e5;
    }
    .green {
      background-color: #008000;
    }
    .cyan {
      background-color: #00aeff;
    }
    .blue {
      background-color: #0000ff;
    }
    @media (max-width: 612px) {
      span {
        width: 60px;
        height: 60px;
      }
    }
    @media (max-width: 520px) {
      span {
        width: 50px;
        height: 50px;
      }
    }
  }
}
.layout {
  top: 101px;
  position: absolute;
  width: 50vw;
  height: 100vh;
  left: -100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: 0.5s;
  &::before {
    transform: translatey(-50%);
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 12px;
    z-index: 6;
    top: calc(50% - 101px);
    transition: 0.3s;
    background-color: #c0c0c0;
    border-radius: 50%;
  }
}
.layoutTrans {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  z-index: 101;
  display: none;
}
.loading {
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  position: absolute;
  transition: 1s;
  top: 0;
  span {
    font-family: "Pacifico", cursive;
    font-size: 40px;
    position: absolute;
    top: calc(50% + 120px);

    left: calc(50% + 10px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .boxes {
    top: -60px;
    height: 32px;
    width: 32px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg)
      translateZ(0px);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  }
  .boxes .box {
    width: 32px;
    height: 32px;
    top: 0px;
    left: 0;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .boxes .box:nth-child(1) {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-animation: box1 1s linear infinite;
    animation: box1 1s linear infinite;
  }
  .boxes .box:nth-child(2) {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-animation: box2 1s linear infinite;
    animation: box2 1s linear infinite;
  }
  .boxes .box:nth-child(3) {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    -webkit-animation: box3 1s linear infinite;
    animation: box3 1s linear infinite;
  }
  .boxes .box:nth-child(4) {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
    -webkit-animation: box4 1s linear infinite;
    animation: box4 1s linear infinite;
  }

  .boxes .box > div {
    background: #5c8df6;
    --translateZ: 15.5px;
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5c8df6;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
      translateZ(var(--translateZ));
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
      translateZ(var(--translateZ));
  }

  .boxes .box > div:nth-child(1) {
    top: 0;
    left: 0;
    background: #5c8df6;
  }
  .boxes .box > div:nth-child(2) {
    background: #145af2;
    right: 0;
    --rotateY: 90deg;
  }
  .boxes .box > div:nth-child(3) {
    background: #447cf5;
    --rotateX: -90deg;
  }
  .boxes .box > div:nth-child(4) {
    background: #dbe3f4;
    top: 0;
    left: 0;
    --translateZ: -90px;
  }
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.top {
  cursor: pointer;
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--secondcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(-200px);
  right: 35px;
  transition: 1s;
  z-index: 150;
  &:hover {
    i {
      animation: totop 1s linear 0s infinite;
      color: black;
    }
  }
  i {
    color: white;
    font-size: 25px;
    transform: translateY(2px);
    transition: 0.5s;
  }
  &:before {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--secondcolor);
    animation: topButton 2s linear infinite;
    opacity: 1;
  }
  &:after {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--secondcolor);
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: topButton;
    animation-iteration-count: infinite;
    opacity: 1;
  }
}
@keyframes topButton {
  0% {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    opacity: 1;
  }
  100% {
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    opacity: 0;
  }
}

@keyframes totop {
  25% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(-5px);
  }
}

.socialMedia {
  position: fixed;
  display: flex;
  width: fit-content;
  height: 250px;
  right: -51px;
  transition: 0.4s;
  // right: 0px;
  transform: translatey(-50%);
  top: 50%;
  align-items: center;
  z-index: 5;
  .right {
    cursor: pointer;
    // transform: rotate(180deg);
    font-size: 17px;
    width: 23px;
    font-size: 17px;
    height: 93px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    transition: 0.4s;
    &:hover {
      color: var(--secondcolor);
      left: -22px;
    }
  }
  .left {
    display: none;
    cursor: pointer;
    font-size: 17px;
    width: 23px;
    font-size: 17px;
    height: 93px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -22px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    transition: 0.4s;
    &:hover {
      color: var(--secondcolor);
      left: -14px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 48px;
    height: 185px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    i {
      font-size: 29px;
      color: black;
      transition: 0.4s;
      &:hover {
        color: var(--secondcolor);
      }
    }
  }
}

section {
  position: relative;
  top: 120px;
  .Fhead {
    margin-bottom: 80px;
    h2 {
      margin: auto;
      color: white;
      font-family: "Noto Nastaliq Urdu", serif;
      font-size: 40px;
      width: fit-content;
      margin: auto;
      font-weight: 600;
      transition: 0.4s;
      cursor: context-menu;
      &:hover {
        color: var(--secondcolor);
      }
    }
  }
  .whatImage {
    display: grid;
    justify-content: center;
    // align-items: center;
    gap: 7px;
    grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
    div {
      aspect-ratio: 1.49;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

/* strat whatdo  */
.whatdo {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  // top: 110px;
}
section .main-title {
  margin: 0 auto 80px;
  border: 2px solid var(--secondcolor);
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  z-index: 1;
  color: white;
  transition: 0.6s;
  border-radius: 5px;
  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--secondcolor);
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--secondcolor);
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    transition-delay: 0.2s;
    color: black;
    &::before {
      z-index: -1;
      animation: left-move 0.5s linear forwards;
    }
    &::after {
      z-index: -1;
      animation: right-move 0.5s linear forwards;
    }
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    left: 0;
    width: 52%;
    height: 103%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    right: 0;
    width: 52%;
    height: 103%;
  }
}
.whatdo .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.whatdo .box {
  box-shadow: 0 2px 15px rgb(255 255 255 / 32%);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.4s, box-shadow 0.4s;
}

.whatdo .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px var(--secondcolor);
  .content {
    h3 {
      color: var(--secondcolor);
    }
  }
  .info {
    border-top: 1px solid var(--secondcolor);
  }
}

.whatdo .box img {
  width: 100%;
  max-width: 100%;
}

.whatdo .box .content {
  padding: 20px;
}

.whatdo .box .content h3 {
  margin: 0;
  color: white;
  transition: 0.4s;
}

.whatdo .box .content p {
  margin: 10px 0 0;
  color: #bbb;
}

.whatdo .box .info {
  padding: 20px;
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  &:hover {
    a {
      color: var(--secondcolor);
    }
    i {
      color: var(--secondcolor);
    }
  }
}

.whatdo .box .info a {
  color: white;
  font-weight: bold;
  transition: 0.4s;
}

.whatdo .box .info i {
  color: white;
  transition: 0.4s;
}

.whatdo .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

/* strat secnum2  */
.secnum2 {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  background-color: black;
}

.secnum2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.secnum2 .box {
  text-align: center;
  border: 1px solid var(--secondcolor);
  overflow: hidden;
  border-radius: 10px;
}

.secnum2 .box .img-holder {
  position: relative;
  overflow: hidden;
}

.secnum2 .box .img-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.secnum2 .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 160px 500px;
  border-color: transparent transparent var(--secondcolor) transparent;
  transition: 0.4s;
  z-index: 3;
}

.secnum2 .box:hover .img-holder::after {
  border-width: 160px 500px 160px 0px;
}

.secnum2 .box .img-holder img {
  max-width: 100%;
}

.secnum2 .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
  color: white;
  padding-top: 15px;
}

.secnum2 .box h2::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}

.secnum2 .box p {
  line-height: 2;
  font: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}

.secnum2 .box a {
  display: block;
  border: 2px solid;
  width: fit-content;
  margin: 0 auto 30px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 7px;
  transition: 0.4s;
  color: white;
}

.secnum2 .Quality .img-holder::before {
  background-color: rgba(0, 0, 0, 0.55);
}

.secnum2 .Quality h2::after {
  background-color: var(--secondcolor);
  transition: 0.4s;
}

.secnum2 .Quality a {
  border-color: var(--secondcolor);
  background: linear-gradient(to right, var(--secondcolor) 50%, black 50%);

  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.4s;
}

.secnum2 .Passion .img-holder::before {
  background-color: rgba(0, 0, 0, 0.55);
}

.secnum2 .Passion h2::after {
  background-color: var(--secondcolor);
}

.secnum2 .Passion a {
  border-color: var(--secondcolor);
  background: linear-gradient(to right, var(--secondcolor) 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.4s;
}

.secnum2 .Time .img-holder::before {
  background-color: rgba(0, 0, 0, 0.55);
}

.secnum2 .Time h2::after {
  background-color: var(--secondcolor);
}

.secnum2 .Time a {
  border-color: var(--secondcolor);
  transition: 0.4s;
  background: linear-gradient(to right, var(--secondcolor) 50%, black 50%);
  // background-size: 200% 100%;
  background-size: 200%;
  background-position: right bottom;
}

.secnum2 .box:hover a {
  background-position: left bottom;
  color: black;
}

/* end secnum2  */
